:root {
    --bg-neutral-1: rgba(36, 74, 127, 0.06);
    --bg-accent-1: rgba(255, 221, 45, 1);
    --bg-accent-hover: rgb(251, 223, 78);
    --bg-accent-active: rgb(163, 139, 21);
    --bg-focus-1: rgba(125, 135, 151, 0.06);
    --bg-active-1: rgba(169, 182, 197, 0.06);
    --border-neutral-1: rgb(80, 80, 80);
    --text-primary: rgba(0, 0, 0, 0.75);
    --text-secondary: rgba(0, 0, 0, 0.54);
    --text-primary-on-accent: rgba(51, 51, 51, 1);
    --text-action: rgba(18, 109, 247, 1);
    --header-stripe: rgb(226, 224, 224);
    --header-main: #F6F7F8;
    --searcher-neutral-1: #244A7F0F;
    --searcher-text: #0000008A;
    --bg-accent-2: #428BF9;
    --border-neutral-2: rgb(212, 212, 212);
}
